.DeBug {
    position: absolute;
    right: 37%;
    top: 22px;
    z-index: 999;
    color: #aaa;
}

.table-c table {
    word-break: break-all;
    word-wrap: break-all;
}

.input-group-btn .btn {
    padding: 3px 12px;
}

.lr-form-tabs {
    height: 45px;
}
