
@{
    ViewBag.Title = "封面上传";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/Content/cropper/cropper.min.css" rel="stylesheet" />
@Html.AppendCssFile("/Areas/SYS_Code/Views/Sys_Accessories/UploadAvatar.css")
<div class="lr-form-layout lr-form-layout-top-bottom avatar-layout">
    <div class="lr-form-layout-header">
        <button id="lr_add_file_btn" class="btn btn-primary" type="button" onclick="$('input[id=avatarInput]').click();"><i class="fa fa-cloud-upload"></i>选择图片</button>
        <span id="avatar-name" style="vertical-align: middle;"></span>
    </div>
    <div class="lr-form-layout-body avatar-form">
        <div class="avatar-body">
            <div class="avatar-upload">
                <input class="avatar-src" name="avatar_src" type="hidden">
                <input class="avatar-data" name="avatar_data" type="hidden">
                <input class="avatar-input hide" id="avatarInput" name="avatar_file" type="file">
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="avatar-wrapper">
                        <div class="cropper-container cropper-bg" style="width: 100%; height: 240px;">
                            <div class="cropper-drag-box cropper-modal" data-drag="move"></div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="avatar-preview preview-op" id="imageHead"></div>
                </div>
            </div>
            <div class="row avatar-btns">
                <div class="float-left">
                    <div class="btn-group">
                        <button class="btn btn-primary fa fa-undo" data-method="rotate" data-option="-90" type="button" title="向左旋转90度"> 向左旋转</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn  btn-primary fa fa-repeat" data-method="rotate" data-option="90" type="button" title="向右旋转90度"> 向右旋转</button>
                    </div>
                </div>
                <div class="float-right">
                    @*<button class="btn btn-primary fa fa-arrows" data-method="setDragMode" data-option="move" type="button" title="移动">
                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setDragMode&quot;, &quot;move&quot;)">
                        </span>
                    </button>*@
                    <button type="button" class="btn btn-primary fa fa-search-plus" data-method="zoom" data-option="0.1" title="放大图片">
                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;zoom&quot;, 0.1)">
                            <!--<span class="fa fa-search-plus"></span>-->
                        </span>
                    </button>
                    <button type="button" class="btn btn-primary fa fa-search-minus" data-method="zoom" data-option="-0.1" title="缩小图片">
                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;zoom&quot;, -0.1)">
                            <!--<span class="fa fa-search-minus"></span>-->
                        </span>
                    </button>
                    <button type="button" class="btn btn-primary fa fa-refresh" data-method="reset" title="重置图片">
                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;reset&quot;)" aria-describedby="tooltip866214">
                    </button>
                </div>
                <div>
                    <button class="btn btn-primary btn-block avatar-save fa fa-save" type="button"> 保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/webuploader/webuploader.nolog.min.js"></script>
<script src="~/Content/cropper/cropper.min.js"></script>
<script src="~/Content/cropper/html2canvas.min.js"></script>
@Html.AppendJsFile(
"/Areas/SYS_Code/Views/Sys_Accessories/UploadAvatar.js")