@{
    ViewBag.Title = "管理区域";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div id="RoleTree" class="col-xs-6 lr-form-area"></div>
</div>
@Html.AppendJsFile("/Areas/LR_OrganizationModule/Views/User/SelectRoleForm.js")