<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 是否启用js、css压缩-->
  <add key="JsCompressor" value="false" />
  <!-- 是否启用js、css缓存-->
  <add key="JsCompressorCache" value="false" />
  <!-- 代码生成器路径-->
  <add key="BackProject" value="Learun.Application.TwoDevelopment" />
  <add key="MappingDirectory" value="\Learun.Framework.Module\Learun.Application.Module\Learun.Application.Mapping" />
  <add key="ServiceDirectory" value="\Learun.Framework.Module\Learun.Application.Module\Learun.Application.TwoDevelopment" />
  <add key="WebDirectory" value="\Learun.Application.Web" />
  <add key="ApiDirectory" value="\Learun.Application.WebApi" />
  <add key="AppDirectory" value="\Learun.Application.Mobile" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wxa2c39f6194f44ff4" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="LmYickyCL7sc1oVyUnUhXo24brefyM3AQbZnL7CP7Xs" />
  <!--开放平台AppId -->
  <add key="AppId" value="wxd75b6651c86f816b" />
  <!--开放平台凭证密钥 -->
  <add key="AppSecret" value="a198e160569ccb1eabad28c2431e6e1b" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.learun.cn" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="技术支持：成都思必达软件技术服务有限公司" />
  <!-- 系统名称 -->
  <add key="SystemName" value="Learun敏捷开发框架" />
  <!-- 软件名称 -->
  <add key="SoftName" value="Learun.敏捷开发框架" />
  <!-- 软件版本 -->
  <add key="Version" value="6.1.6.0" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:LR20180307002" />
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="false" />
  <!-- 接收错误信息的邮箱 -->
  <add key="RereceiveErrorMail" value="receivebug@learun.cn" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="力软邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="sendbug@learun.cn" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="learun123" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
  <!-- ================== 6：即时通信参数 ================== -->
  <!-- SignalR服务接口-->
  <add key="IMUrl" value="http://localhost:8012/signalr" />
  <add key="userKey" value="14B417B0-463D-4F2B-8075-0A20EEDB773A" />
  <!-- ================== 7：附件上传地址 ================== -->
  <add key="AnnexesFile" value="C:/fileAnnexes" />
  <!-- ================== 8：流程服务地址 ================== -->
  <add key="workflowapi" value="http://localhost:8013" />
  <!--Redis 缓存前缀 -->
  <add key="RedisPrev" value="LRADMS" />
  <!--head 头像存储地址 -->
  <add key="fileHeadImg" value="C:/fileHeadImg" />
  <add key="fileAppDTImg" value="C:/fileAppDTImg" />
  <add key="fileLogoImg" value="C:/fileLogoImg" />
  <!-- ================== 9：禁用BrowserLink，解决进度条卡在99%问题 ================== -->
  <add key="vs:EnableBrowserLink" value="false"/>
  <!-- ================== 10：上传文件配置 Shared/_Admin.cshtml有定义 ================== -->
  <!--上传文件方式（0：本地 1：自定义服务器）-->
  <add key="UploadFlag" value="0"/>
  <!--上传文件地址-->
  <add key="UploadUrl" value="http://localhost:8096/"/>
  <!--本地模式上传文件至Redis中的缓存时间（单位：秒） -->
  <add key="RedisFileTime" value="21600" />
  <!-- ================== 11：系统配置 ================== -->
  
  
  <!--是否开启软件授权 默认false-->
  <add key="SoftwareAauthorization"  value="true"/>
  <!--签名字符串-->
  <add key="SecurityKey" value="clgl_cn" />
  <!--是否开启接口日志（0：否 1：是）-->
  <add key="APILog" value="1"/>
  <!--很重要的配置，决定接口是否要进行数据防篡改（0：关闭 1：开启）-->
  <add key="DataValidate" value="0"/>

  <!--app更新包是否强制更新false否，true是-->
  <add key="AppIsMustUpdate" value="false"/>
  
  <!--Admin部署地址-->
  <add key="AdminUrl" value="http://211.149.149.248:8006/"/>
  <!--默认头像地址-->
  <add key="HeadDefault" value="/Content/images/UserCard02.png"/>
  <!--百度地图Key-->
  <add key="baiduMapKey" value="tdgDdrnLMxiZRzEP3DSM2qG1xvwfpGof"/>
  <!--是否能链接到百度地图-->
  <add key="canConnectBaidu" value="true"/>
  <!--百度地图默认所在地区-->
  <add key="mapArea" value="成都" />
</appSettings>